# Como dinamizar linhas em colunas

# Requirements

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import awswrangler as wr
import boto3
import sys
import os
import pandas as pd

## Access AWS

In [2]:
AWS_ACCESS_KEY = 'AKIAT65ZA2FPKTSNPUB7'
AWS_SECRET_ACCESS_KEY = '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'
region_name = 'us-east-1'
host = "s3://athena-results-sm/lambda"
dbname = 'sm'

boto3_session = boto3.Session(
aws_access_key_id = AWS_ACCESS_KEY,
aws_secret_access_key = AWS_SECRET_ACCESS_KEY ,
region_name=region_name)

#set AWS Region
os.environ['AWS_DEFAULT_REGION'] = 'us-east-1'

## GET DATA

In [3]:
query_artista = query = f'''

select 
    --data,
    uid,
    year(data) as ano,
    count(year(data)) qtde
    from sm.webusersbyday
    group by 1,2
    
'''

df = wr.athena.read_sql_query(sql = query_artista, 
                              database = 'sm', 
                              boto3_session = boto3_session)

df.head()

        uid   ano  qtde
0  38125961  2021     8
1  46326602  2021    42
2  44552956  2021    44
3  47740147  2021     5
4  47719414  2021     5

In [4]:
table = pd.pivot_table(df, values='qtde', index='uid',
                    columns=['ano'], aggfunc=np.sum)


table

ano           2019      2020      2021     2022
uid
                89       149      <NA>     <NA>
0        106135594  95818153  58592160  3795154
1                1      <NA>      <NA>     <NA>
10               8      <NA>         4        3
100000        <NA>         2      <NA>     <NA>
...            ...       ...       ...      ...
99998         <NA>      <NA>      <NA>        1
9999833       <NA>      <NA>         2     <NA>
9999842       <NA>         7        13        2
9999857       <NA>      <NA>         1     <NA>
9999950       <NA>         5      <NA>     <NA>

[4428367 rows x 4 columns]